*{padding:0; margin:0;}
body{
    height: 100vh;
    background-color:#000;    
}
button{
    cursor: pointer;
    background-color: transparent;
    border: none;
}
.hide{
    display:none;
}
.show{
    display: block;
}
#wrap {
    width: 900px;
    height: 500px;
    border-radius: 16px;
    background:url("./source/img/background.png") no-repeat center;
    padding: 4px;
    background-size:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin : 50px auto 100px;
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom : 70px;
        .play__container{
            width: 50px;
            height: 50px;
            background-color: bisque;
            border:4px solid #000;
            border-radius: 8px;
            margin-bottom: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            .play__button{
                width: 28px;
                height: 28px;
                border-left:28px solid #000;  
                border-right:0 solid transparent;  
                border-bottom:14px solid transparent;  
                border-top:14px solid transparent;          
            }
            .pause__button{
                width: 28px;
                height: 28px;
                background-color: #000;
            }
        }
        .time__container{
            width: 200px;
            height: 40px;
            background-color: #fff;
            border:4px solid #000;
            border-radius: 8px;
            margin-bottom: 4px;  
            display: flex;
            justify-content: center;
            align-items: center;
            .time {
                font-size: 2rem;
            }      
        }
        .pull__container{
            width: 50px;
            height: 50px;
            background-color:palevioletred;
            border:4px solid #000;
            border-radius: 50%;
            .pull_counter{
                line-height: 45px; 
                text-align: center;
                color: #fff;
                font-size: 2rem;
            }
        }
    }
    section{
        width: 100%;
        height: 330px;
        position: relative;
        .alert__container {
            position: absolute;
            bottom: 80px;
            left:50%;
            transform: translateX(-50%);
            width: 400px;
            background-color: rgba(0,0,0,0.6);
            border-radius: 16px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 8px;
            .play__container{
                .replay__button{
                    font-size: 1.5rem;
                }
            }
            .alert__text{
                span{
                    color:#fff;
                    font-size: 2rem;
                    i{
                        color: red;
                    }
                }
            }
        }
        .pull__item{
            position: absolute;
            top: 0;
            left: 0;
        }
        .bug{
            transform: translate(120px, 50px);
        }
    }
}